/ejemplos-clases-constructores-diagramas/ejemplo01/codigo/ManejoClases/nbproject/private/
/ejemplos-clases-constructores-diagramas/ejemplo01/codigo/ManejoClases/build/
/ejemplos-clases-constuctores-java/EjemploConstructores/nbproject/private/
/ejemplos-clases-constuctores-java/EjemploConstructores/build/
